#userorder-view-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userorder-view-button div {
    margin-left: 1em;
    margin-right: 1em;
}

.invoiceBtn {
    border-radius: 5px;
}

/* todo: prettify these*/
.new {
    background: blue;
}

.confirmed {
    background: yellow;
}

.cancelled {
    background: red;
}

.shipped {
    background: green;
}

.productPrice {
    font-weight: bold;
}

.totalPrice {
    font-size: 2em;
}

.orderConfirmationText {
    font-size: 1.5em;
}
